<%- include("header") -%>

 <div class="box" id="heading">
    <h1> <%- listTitle %> </h1>
  </div>

  <div class="box">
  
      <% newListItems.forEach((item) => { %>
        
          <form action="/CompleteItem" method="post" id="my_form">
            <div class="item">
              <input id='testNameHidden' type='hidden' value="<%= item._id %>" name='checkbox'>
              <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()" <%= item.isDone ? "checked" : "" %>>
              <p><%- item.itm %></p>
              <a href="javascript:{}" onclick="document.getElementById('my_form').action='list/deleteItem';document.getElementById('my_form').submit();"><span class="trash-image"><i class="fa fa-trash"></i></span></a>
            </div>
          </form>
      <% }); %>    

      <form class="item" action="/list" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off" required>
        <button type="submit" name="list" value="<%#listTitle%>">+</button>
      </form>
  </div> 

<%- include("footer") -%>
